[submodule "system/ch32h417lib"]
	path = system/ch32h417lib
	url = https://github.com/maxgerhardt/ch32h417lib.git
[submodule "ArduinoCore-API"]
	path = ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API.git
[submodule "system/tinyusb"]
	path = system/tinyusb
	url = https://github.com/maxgerhardt/tinyusb.git
	branch = ch32h417-v2
